html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    align-items: center;
}

.calculator {
    touch-action: none;
    background-color: #2b2d2c;
    margin: auto;
    width: 350px;
    height: 500px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(7, minmax(0, 1fr));
    border-radius: 3%;
    gap: 10px;
    padding: 15px;
    grid-template-areas: 
        "display display  display  display"
        "display display  display  display"
        "clear backspace backspace divide"
        "seven   eight     nine    multiply"
        "four    five       six    subtraction"
        "one      two      three   addition"
        "zero    decimal    equals addition";
}

.button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9a9d96;
    border-radius: 6%;
    border: 1px solid black;
}

.button.delete {
    background-color: #be7473;
}

.button.operation {
    background-color: #d6d6d6;
}

.button.equals {
    background-color: #d6d6d6;
}

:active.button {
    background-color: #61625f;
}

:active.button.delete {
    background-color: #814e4d;
}

:active.button.operation {
    background-color: #858383;
}

:active.button.equals {
    background-color: #858383;
}

.button-text {
    font-family: 'Goldman', sans-serif;
    color: #181816;
}

.display-text {
    font-family: 'Goldman', sans-serif;
    font-size: 30px;
    margin-right: 20px;
}

@media (max-width: 420px) {
    .calculator {
        height: 357px;
        width: 250px;
        gap: 5px;
        padding: 10px;
    }

    .button.delete {
        font-size: 0.7rem;
    }

    .display-text {
        font-size: 18px;
    }
}

#display {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    grid-area: display;
    background-color: #98a474;
    border-radius: 2%;
    border: 1px solid black;
    overflow: hidden; /*remove this once standard form is implemented*/
}

#clear {
    grid-area: clear;
}

#backspace {
    grid-area: backspace;
}

#divide {
    grid-area: divide;
}

#seven {
    grid-area: seven;
}

#eight {
    grid-area: eight;
}

#nine {
    grid-area: nine;
}

#multiply {
    grid-area: multiply;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

#subtraction {
    grid-area: subtraction;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#addition {
    grid-area: addition;
}

#zero {
    grid-area: zero;
}

#decimal {
    grid-area: decimal;
}

#equals {
    grid-area: equals;
}