*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.title {
    text-align: center;
    font-family: "Nerko One", cursive;
    font-size: 3.5rem;
    margin-bottom: 0.2em;
    margin-top: 0.5em;
}

.grid {
    cursor: crosshair;
    margin: auto;
    display: grid;
    width: 400px;
    height: 400px;
    border: 1px solid black;
}

.new-grid {
    display: flex;
    margin: 2.2em auto auto auto;
    justify-content: center;
}

.slider {
    display: block;
    border: 1px solid black;
    appearance: none;
    width: 300px;
    background: #d3d3d3;
    border-radius: 25px;
    margin-right: 2em;
}

.slider::-webkit-slider-thumb,
.slider::-moz-range-thumb {
    border: 1px solid black;
    appearance: none;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.new-grid-button {
    border: 1px solid black;
    border-radius: 25px;
    cursor: pointer;
}